<h2>What is this?</h2>

<p>Just a simple little app to practice learning Angular 15.</p>

<p>Everything is stored in memory so refreshing means you lose any changes.</p>

<h3>Roadmap</h3>
 <div><i class="bi bi-check-circle"></i> List of known boardgames</div>
 <div><i class="bi bi-check-circle"></i> View boardgame</div>
 <div><i class="bi bi-check-circle"></i> Add a boardgame</div>
 <div><i class="bi bi-check-circle"></i> Remove a boardgame</div>
 <div><i class="bi bi-check-circle"></i> Edit a boardgame</div>
 <div><i class="bi bi-circle"></i> Save games in LocalStorage for now</div>
 <div><i class="bi bi-circle"></i> Link to BGG?</div>
 <div><i class="bi bi-check-circle"></i> List of play sessions (a date, games, players, notes)</div>
 <div><i class="bi bi-check-circle"></i> View session</div>
 <div><i class="bi bi-check-circle"></i> Add a session</div>
 <div><i class="bi bi-check-circle"></i> Remove a session</div>
 <div><i class="bi bi-check-circle"></i> Edit a session</div>
 <div><i class="bi bi-circle"></i> Save sessions in LocalStorage for now</div>
 <div><i class="bi bi-circle"></i> Forms & validation</div>
 <div><i class="bi bi-circle"></i> Material</div>