<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <input formControlName="title" placeholder="Title" />
    <span class="error" *ngIf="form.controls['title'].errors && form.controls['title'].errors['required']">required</span>
  </div>

  <div>
    <ngb-rating formControlName="starRating" [max]="5" [readonly]="false"></ngb-rating>
  </div>

  <div>
    <textarea formControlName="notes"></textarea>
  </div>

  <div class="footer">
    <button class="btn btn-primary" [disabled]="!form.valid">submit</button>
  </div>
</form>
