<div *ngIf="session == null">
  <p>No session selected</p>
</div>
<div *ngIf="session !== null">
  <a class="float-end" [routerLink]="['/sessions', session.id, 'edit']"><i class="bi bi-pencil-fill"></i></a>
  
  <h2>{{ session.title }}</h2>
  <div>{{ session.date.toDateString() }}</div>
  <div class="notes">{{ session.notes }}</div>
  
  <div *ngIf="session.plays.length === 0">
    <h3>No games played</h3>
  </div>
  <div *ngIf="session.plays.length > 0">
    <h3>Games played:</h3>
    <div *ngFor="let play of session.plays">
      <div><h4>{{ play.game }}</h4> {{ play.players.join(', ') }}</div>
      <div class="notes">{{ play.notes }}</div>
    </div>
  </div>
</div>