@import '~bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons';

.debug {
  border: 1px dotted red;
}

.active {
  background-color: #ccc;
}

.notes {
  margin-bottom: 1em;
}

.error { color: #c33 }

h4 { font-size: medium; display: inline-block; }