<div *ngIf="game == null">
  <p>No game selected</p>
</div>
<div *ngIf="game !== null">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <input formControlName="title" />
      <span class="error" *ngIf="form.controls['title'].errors && form.controls['title'].errors['required']">required</span>
    </div>

    <div>
      <ngb-rating formControlName="starRating" [max]="5" [(rate)]="game.starRating" [readonly]="false"></ngb-rating>
    </div>

    <div>
      <textarea formControlName="notes"></textarea>
    </div>

    <div class="footer">
      <button class="btn btn-primary" [disabled]="!form.valid">submit</button>
      <button class="btn btn-danger" type="button" (click)="deleteGame()">delete</button>
    </div>
  </form>  
</div>