<div *ngIf="game == null">
  <p>No game selected</p>
</div>
<div *ngIf="game !== null">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    Title <input formControlName="title" />
    <ngb-rating formControlName="starRating" [max]="5" [(rate)]="game.starRating" [readonly]="false"></ngb-rating>
    <hr >
    Notes:
    <div>
      <textarea formControlName="notes"></textarea>
    </div>

    <div class="footer">
      <button>submit</button>
      <button type="button" (click)="deleteGame()">delete</button>
    </div>
  </form>  
</div>